{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% include "partials/meta-info.html" %}    
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/images/apple-touch-icon.png"> 
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/images/favicon@2x.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/images/favicon-16x16.png">
<link rel="mask-icon" href="{{ site.url }}/images/safari-pinned-tab.svg" color="#2b5dc1">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/images/favicon.ico">

<link rel="stylesheet" href="/css/main.css?{{ assetHash }}" />
<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
{# <style>{% include "css/critical.css" %} </style>#} {# Add facility for pages to delare an array of critical styles #} 
{% if pageCriticalStyles %} {% for item in pageCriticalStyles %}
<style>
  {% include item %}
</style>
{% endfor %} {% endif %}
{# Add facility for pages to declare an array of stylesheet paths #} {% if
pageStylesheets %} {% for item in pageStylesheets %}
<link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
{% endfor %} {% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T9N2BPHEET"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-T9N2BPHEET');
</script>
{% if page.fileSlug == "contact-us" %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
{% endif %}

</head>
<body class="body{{'-' + page.fileSlug }}">
    {% include "partials/header.html" %}
    <main id="main-content" class="mb-5">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
  </body>
</html>
