{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 
{% set peopleItems = collections.people %} 

{% block content %}

  {% include "partials/page-header.html" %}

   <article class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" >
    <div class="container">
      this is another section
    </div>
  </article>

  <article>
    <div class="container">
    

    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control form-control-lg" id="inputName">
      </div>
      <div class="col-md-6">
        <label for="jobTitle" class="form-label">Job Title</label>
        <input type="text" class="form-control form-control-lg" id="jobTitle">
      </div>
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control form-control-lg" id="inputEmail">
      </div>
      <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone number</label>
        <input type="tel" class="form-control form-control-lg" id="inputPhone">
      </div>

      <div class="col-md-6">
        <label for="inputCompany" class="form-label">Company</label>
        <input type="text" class="form-control form-control-lg" id="inputCompany">
      </div>
      <div class="col-md-6">
        <label for="selectCountry" class="form-label">Country</label>
        <select id="selectCountry" class="form-select form-select-lg">
          <option selected>Choose...</option>
          <option>Argentina</option>
          <option>Ireland</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="selectIndustry" class="form-label">Industry Sector</label>
        <select id="selectIndustry" class="form-select form-select-lg">
          <option selected>Choose...</option>
          <option>Lessors</option>
          <option>Investors</option>
        </select>
      </div>

      <div class="col-12">
        <label for="textareaTellusmore" class="form-label">Address</label>
        <textarea class="form-control form-control-lg" id="textareaTellusmore" rows="5"></textarea>
      </div>
      
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    </div> <!-- container -->
  </article>

{% endblock %}