{% extends "layouts/base.html" %}

{% block content %}

<section class="hero">
    <div class="container">
    <h1 class="display-5 fw-bold">{{ hero.title }}</h1>  
    <p class="lead">{{ hero.subtitle }}</p>
    <img src="{{ hero.image }}" />
    </div>
</section>
<article class="">
    <div class="container">
        <p>Aviation finance and investments digest a lot of data and in most cases business lines engage with the same data using disparate technologies that don't communicate or integrate, leading to duplicate data entry and inefficient processes. Aerlytix platform drives intelligent automation into every corner of the asset management process, creating a true competitive advantage through removing “the noise” and clutter out of decision-making process.</p>
    </div>
</article>

<article class="">
    <div class="container">
        <h2>The Aerlytix  platform is a suite of tools that empower our clients with a holistic, multi-dimensional view of their assets, enabling them to make better decisions and capture markets opportunities.</h2>
    </div>
</article>

{# {% include "partials/products.html" %} #}

{# {% include "partials/studio-feed.html" %} #}

{# this would be the ctaContent pulling from the front matter in the index.md #}
{# this will only be used in the home page #}
{# {% set ctaContent = primaryCTA %} 
{% include "partials/cta.html" %}  #}

{# this would be the ctaContent pulling from the _data/cta.json #}
{# in this 'set' we are overriding the first ctaContent set #}
{# this will be used on all the website pages #}
{% set ctaContent = cta %} 
{% include "partials/cta.html" %} 


{% endblock %}