<article class=" my-5">
  <div class="container px-4 py-5" id="icon-grid">

    <h2 class="display-3 fw-bold mb-5 pb-5">All Modules on our Analytics Suite are packed with innovative features</h2>

    <div class="row row-cols-1 row-cols-sm-3 g-4" data-cues="slideInUp">
      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Sensitivity Analysis</h4>
        <p class="text-body-secondary">Create goal-seek and risk mitigation sensitivity matrices across thousands of
          scenarios in seconds</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">API Driven</h4>
        <p class="text-body-secondary">Aerlytix products are build on an API foundation, which makes it easily to
          integration with any software.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Rack n' Stack</h4>
        <p class="text-body-secondary">Compare unlimited opportunities removing the quantitative guesswork from decision
          making </p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Scenario Analysis</h4>
        <p class="text-body-secondary">Anylise multiple outcomes, pick the best deal that otherwise would have taking
          team effort.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Charts and Visualizations</h4>
        <p class="text-body-secondary">We want to draw a clear picture for your product. We do plenty of visuals so no
          details missed.</p>
      </div>

      <div class="col d-flex flex-column gap-2">
        <div class="feature-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
          </svg>
        </div>
        <h4 class="fw-semibold mb-0 text-body-emphasis">Self-serving Reporting</h4>
        <p class="text-body-secondary">Custom investment memos, tech specs, and lease summaries with all quantitative
          outputs and customer added commentary.</p>
      </div>
    </div>
  </div>
</article>