<!-- <article class="integrations py-5 my-5">
  <div class="container">

    <div class="card px-5 py-5" data-cues="slideInUp">

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-4">
          <img src="/images/integrations-graphic.png" />
        </div>
        <div class="col-lg-8">
          <h2 class="display-3 fw-bold mb-3 lh-1 mb-3">Connect to your existing software</h2>
          <p class="display-7">Aerlytix integrates directly with leading aviation platforms. Making it easy to get
            started,
            stay connected and get more out of your financial data.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <p class="mb-0">
              <a class="d-block pt-3 text-decoration-none link-arrow" href="/services/integrations">Learn more on our
                integrations <svg xmlns="http://www.w3.org/2000/svg" width="32" height="22" fill="currentColor"
                  class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z">
                  </path>
                </svg></a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</article> -->

<article class="px-4 py-5 my-5 text-center">
  <div class="container">
    <div class="card px-5 py-5" data-cues="slideInUp">
      <h2 class="display-3 fw-bold mb-3 lh-1 mb-3">Connect to your existing software</h2>
      <p class="display-7 mb-0">Aerlytix integrates directly with leading aviation platforms.<br /> Making it easy to get started, stay connected and get more out of your financial data.</p>
      <p>
          <a class="d-block pt-3 text-decoration-none link-arrow" href="/services/integrations">Learn more on our
            integrations <svg xmlns="http://www.w3.org/2000/svg" width="32" height="22" fill="currentColor"
              class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path
                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z">
              </path>
            </svg></a>
        </p>
      
      <div class="col-lg-12 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center px-5 py-5" style="background: white; background-image: radial-gradient(rgb(235, 235, 235) 1px, transparent 0); background-size: 20px 20px; background-position: -19px -19px;">
          <img src="/images/integrations-graphic-3.png" />
        </div>
      </div>
    </div>
  </div>
</article>