<article class="products my-5">


  <div class="container py-5 py-md-6 py-lg-7 my-3">
    <div class="col-md-9">
      <h2 class="display-3 fw-bold mb-3">A sophisticated suite of products for the Aviation Finance of tomorrow</h2>
      <!-- <p class="display-7">The Aerlytix platform is a suite of tools that empowers aviation investors with an intuitive
        multi-layered view of their assets, enabling them to take "the noise" out of decision making.</p> -->
    </div>

    <div class="row align-items-center">

      <div class="col-lg-12 col-md-7">

        <div class="row">

          <div class="col-sm-6">
            <div class="products__pricing-and-trading card rounded-6 p-4 mb-4">

              <div class="product__icon"></div>

              <h3 class="h5 mb-3 fw-bold">Maintenance Forecasting</h3>
              <p class="fs-sm">On-the-fly maintenance event forecasts and condition adjusted value.</p>
              <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                  href="/products/pricing-and-trading/">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="32"
                    height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                  </svg></a></p>
            </div>

            <div class="products__risk-management card rounded-6 p-4 mb-4">

              <div class="product__icon"></div>

              <h3 class="h5 mb-3 fw-bold">Pricing & Valuations</h3>
              <p class="fs-sm">Robust primary and secondary trading functionality for all transaction types.</p>
              <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                  href="/products/risk-management/">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="32"
                    height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                  </svg></a></p>
            </div>

            <div class="products__risk-management card rounded-6 p-4 mb-4">

              <div class="product__icon"></div>

              <h3 class="h5 mb-3 fw-bold">Portfolio Management</h3>
              <p class="fs-sm">Fleet optimization and stacked portfolio pricing across any number of aircraft.</p>
              <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                  href="/products/risk-management/">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="32"
                    height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                  </svg></a></p>
            </div>
          </div>
          <div class="col-sm-6">

            <div class="products__maintenance-and-lease-management card rounded-6 p-4 mb-4">

              <div class="product__icon"></div>

              <h3 class="h5 mb-3 fw-bold">Lease Cashflow Forecasting</h3>
              <p class="fs-sm">Best-in-class lease structuring and cash-flow model.</p>
              <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                  href="/products/maintenance-and-lease-management/">Learn more <svg xmlns="http://www.w3.org/2000/svg"
                    width="32" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                  </svg></a></p>
            </div>

            <div class="products__fleet-monitoring-system card rounded-6 p-4 mb-4">

              <div class="product__icon"></div>

              <h3 class="h5 mb-3 fw-bold">Finance Structuring</h3>
              <p class="fs-sm">Debt structuring and exisitng LTV monitoring.</p>
              <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                  href="/products/fleet-monitoring-system/">Learn more <svg xmlns="http://www.w3.org/2000/svg"
                    width="32" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                  </svg></a></p>
            </div>

            <div class="products__fleet-monitoring-system card rounded-6 p-4 mb-4">

              <div class="product__icon"></div>

              <h3 class="h5 mb-3 fw-bold">Risk Management</h3>
              <p class="fs-sm">Customer-defined rating methodology driven by the Aerlytix Risk Knowledge Base.</p>
              <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                  href="/products/fleet-monitoring-system/">Learn more <svg xmlns="http://www.w3.org/2000/svg"
                    width="32" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                  </svg></a></p>
            </div>

            <div class="products__fleet-monitoring-system card rounded-6 p-4 mb-4">

              <div class="product__icon"></div>

              <h3 class="h5 mb-3 fw-bold">Fleet Tracker</h3>
              <p class="fs-sm">Exception based system to monitor asset movement real-time with ADS-B .</p>
              <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                  href="/products/fleet-monitoring-system/">Learn more <svg xmlns="http://www.w3.org/2000/svg"
                    width="32" height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                  </svg></a></p>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</article>