<article class="theme-section__01 quotes my-5 py-5 bg-light">
<div class="container">
<div id="carouselExampleDark" class="carousel carousel-dark slide mt-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="quote w-100">
        <blockquote>
            <p class="display-6">"Combining industry knowledge with world-class technology capabilities is what differentiates Aerlytix from all other offerings. The Analytics Suite gives our clients the cutting-edge platform to succeed as the industry recovers and moves to the next phase of its evolution."</p>
        </blockquote>
        <cite>— Alan Doyle, Aerlytix CEO</cite>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="quote w-100">
        <blockquote>
            <p class="display-6">"Combining industry knowledge with world-class technology capabilities is what differentiates Aerlytix from all other offerings. The Analytics Suite gives our clients the cutting-edge platform to succeed as the industry recovers and moves to the next phase of its evolution."</p>
        </blockquote>
        <cite>— Alan Doyle, Aerlytix CEO</cite>
      </div>
    </div>
    <div class="carousel-item">
      <div class="quote w-100">
        <blockquote>
            <p class="display-6">"Combining industry knowledge with world-class technology capabilities is what differentiates Aerlytix from all other offerings. The Analytics Suite gives our clients the cutting-edge platform to succeed as the industry recovers and moves to the next phase of its evolution."</p>
        </blockquote>
        <cite>— Alan Doyle, Aerlytix CEO</cite>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
</article>