<article class="theme-section__01 quotes my-5 py-5">
  <div class="container card" style="padding-bottom:3rem">
    <div id="carouselExampleDark" class="carousel carousel-dark slide mt-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="quote w-100">
            <blockquote>
              <p class="display-6">"High Ridge Aviation has successfully implemented the Aerlytix analytics platform
                which has become central to our forecasting capability. The team at Aerlytix have been great to deal
                with – especially customer-focussed and always open to ideas on improving the system to make our
                experience better. They are very collaborative and have a solution that they have tailored to meet our
                requirements."</p>
            </blockquote>
            <cite>— David Campbell, Chief Technical Officer, High Ridge Aviation</cite>
          </div>
        </div>
      </div>
    </div>
</article>