<article class="theme-section__01 solutions my-5">
<div class="container">
<h2 class="h1">Our solutions</h2>
<p class="display-7">Aerlytix delivers next generation SaaS solutions to the aviation finance industry</p>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
        </div>
        <h4>Lessors</h4>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <p><a href="">Learn more</a></p>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
        </div>
        <h4>Investors &amp; Lenders</h4>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <p><a href="">Learn more</a></p>
      </div>
      {# <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
        </div>
        <h4>Bank and Lenders</h4>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <p><a href="">Learn more</a></p>
      </div> #}
    </div>
  </div>
</article>