<article class="solutions my-5" style="padding-top:6rem; padding-bottom:6rem;">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <h2 class="display-3 fw-bold mb-3">Customers we are providing solutions for</h2>
        <p class="display-7">Aerlytix delivers cutting-edge SaaS solutions to the aviation finance industry</p>
      </div>
    </div>
    <div class="row" data-cues="slideInUp">

      <div class="col-sm-3">
        <div class="solutions__lessors card p-4 rounded-6 mb-4">
          <div class="card-body ">
            <h4 class="card-title pb-4 fw-bold">Lessors</h4>
            <p class="card-text">Aerlytix supports lessors by revolutionizing quantitative decision making and improving
              client productivity.</p>
            <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                href="/customers/lessors/">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="32" height="22"
                  fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg></a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="solutions__investors card p-4 rounded-6">
          <div class="card-body">
            <h4 class="card-title pb-4 fw-bold">Banks and Lenders</h4>
            <p class="card-text">Aerlytix empowers investors by providing them with the decision support tools to enable
              them to make more informed investment decisions.</p>
            <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                href="/customers/banks-and-lenders/">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="32"
                  height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg></a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="solutions__investors card p-4 rounded-6">
          <div class="card-body">
            <h4 class="card-title pb-4 fw-bold">Owners and Investors</h4>
            <p class="card-text">Aerlytix empowers investors by providing them with the decision support tools to enable
              them to make more informed investment decisions.</p>
            <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                href="/customers/owners-and-investors/">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="32"
                  height="22" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg></a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="solutions__investors card p-4 rounded-6">
          <div class="card-body">
            <h4 class="card-title pb-4 fw-bold">Airlines</h4>
            <p class="card-text">Aerlytix empowers investors by providing them with the decision support tools to enable
              them to make more informed investment decisions.</p>
            <p class="mb-0"><a class="border-top d-block pt-3 text-decoration-none link-arrow"
                href="/customers/airlines/">Learn more <svg xmlns="http://www.w3.org/2000/svg" width="32" height="22"
                  fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg></a></p>
          </div>
        </div>
      </div>


    </div>
  </div>
</article>