:root {
    --blue: #2b5dc1;
    --green: #42ba96;
    --green-10: #e8f4f0;
    --grey: #535353;
    --bg-grey: #f4f6f8;
    --bg-light-blue: #E9F0FB;
    --bg-mid-blue: #95AEE0;
    --bg-light-green: #EFFBF0;
    --bg-dark: #252f4d;
}