a {
    color:var(--blue);
}

.btn {
    &-primary {
        background:var(--blue);
        border-color: var(--blue);
    }
    &-close {
        color: #fff;
    }
}

.border {
    &__blue {
        border: 1px solid var(--bg-mid-blue);
    }
}

.alert {
    &-success {
        background-color: var(--green);
        border-color: var(--green);
        color: #fff;
    }

    .btn-close {
        color: white;
        top: 10px;
        right: 10px;
        padding: 0;
        width: 36px;
        height: 36px;
        background: none;
    }
}


.icon {
    &__check {
        &--success {
            fill: var(--green);
        }
    }

}

.feature-icon {
    border-radius: 1rem !important;
    &--success {
        background-color: var(--green-10);
    }
}

.carousel {
    &-team {
        .row {
            margin-left:4rem;
        }

        .blockquote {
            font-size:1.5rem;

            &-footer {
                font-size:1.25rem;
            }
        }
    }
}

.careers-panel {
    background:var(--blue) url(../images/map-pattern.svg) 0 0 repeat;
    padding-top:5rem;
    padding-bottom:5rem;
    padding-left:5rem;
    padding-right:5rem;
    border-radius: 1rem;
    color: white;
    p {
        color: white;
    }
}

.about-us {
    &__inception {
        position:relative;

        &--graph-1 {
            position: absolute;
            top: .5rem;
            left: .5rem;
        }

        &--graph-2 {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
        }
    }
}