a {
    color: var(--blue);
}

.shadow {
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.085) !important;
}

.card,
.dropdown-menu,
.list-group-item {
    border: 1px solid rgba(0, 0, 0, 0.080);
}


.header {
    &__common {
        padding: 10rem 0;
        margin-bottom: 4rem;
        //background: #F6F8FE url(../images/aviation-map.svg) 50% -3rem no-repeat;
        //background-size: 2000px;
    }

    &__blog-post {
        padding: 4rem 0;
        text-align: center;

        a {
            color: var(--blue);
        }
    }
}


.link-arrow {
    // color: white;

    svg {
        margin-left: 0;
        transition: 0.2s;
    }

    &:hover {
        // color: white;

        svg {
            margin-left: 15px;
        }
    }
}

.products {
    // background: url(../images/engine-outline.svg) 90% 2rem no-repeat;
    background-size: 37rem;

    &__icon {
        margin-bottom: 5rem !important;
    }

    .border-top {
        border-top: 1px solid rgba(255, 255, 255, .4) !important;
    }

    &__pricing-and-trading {
        // background: url(../images/product/pricing-abstract.jpg) 0 0 no-repeat;
        background-size: cover;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__maintenance-and-lease-management {
        // background: url(../images/product/maintenance-abstract.jpg) 0 0 no-repeat;
        background-size: cover;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__commercial-asset-management {
        // background: url(../images/product/commercial-abstract.jpg) 0 0 no-repeat;
        background-size: cover;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__risk-management {
        // background: url(../images/product/risk-abstract.jpg) 0 0 no-repeat;
        background-size: cover;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__fleet-monitoring-system {
        // background: url(../images/product/fleet-abstract.jpg) 0 0 no-repeat;
        background-size: cover;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__consulting-and-integrations {
        // background: url(../images/product/consulting-abstract.jpg) 0 0 no-repeat;
        background-size: cover;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.solutions {
    // background: url(../images/pattern-home.svg) 90% 2rem no-repeat, url(../images/pattern-home.svg) 2% 100% no-repeat;

    .card {
        min-height: 27rem;
        // color: white;

        a {
            // color: white;
        }

        &-body {
            display: flex;
            flex-direction: column;
        }

        &-text {
            flex-grow: 1;
        }
    }

    &__investors {
        // background: #233F74 url(../images/investors-lenders-illustration.svg) 50% -8rem no-repeat;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__lessors {
        // background: #233F74 url(../images/lessors-illustration.svg) 50% -4rem no-repeat;
        transition: all .5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .border-top {
        border-top: 1px solid rgba(255, 255, 255, .4) !important;
    }
}

.btn {
    border-radius: 10px;

    &-primary {
        background: var(--blue);
        border-color: var(--blue);
    }

    &-close {
        color: #fff;
    }

    &-outline-secondary {
        border-color: black;
        color: black;

        &:hover {
            border-color: black;
            background-color: black;
        }
    }
}

.border {
    &__blue {
        border: 1px solid var(--bg-mid-blue);
    }
}

.alert {
    &-success {
        background-color: var(--green);
        border-color: var(--green);
        color: #fff;
    }

    .btn-close {
        color: white;
        top: 10px;
        right: 10px;
        padding: 0;
        width: 36px;
        height: 36px;
        background: none;
    }
}


.icon {
    &__check {
        &--success {
            fill: var(--blue);
        }
    }

}

.feature-icon {
    border-radius: 1rem !important;

    &--success {
        background-color: var(--bg-light-blue);
    }
}

.carousel {
    &-team {
        .row {
            margin-left: 4rem;
        }

        .blockquote {
            font-size: 1.5rem;

            &-footer {
                font-size: 1.25rem;
            }
        }
    }
}

.careers-panel {
    background: var(--blue); // url(../images/map-pattern.svg) 0 0 repeat
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 1rem;
    color: white;
    clip-path: border-box;

    p {
        color: white;
    }

    .col-12 {
        position: relative;
        z-index: 1;
    }

    &__logo-background {
        position: absolute;
        right: 0;
        width: 500px;
        height: 400px;
        z-index: 0;
    }
}

.about-us {
    &__inception {
        position: relative;
        padding-top: 6rem;
        padding-bottom: 6rem;

        .container {
            position: relative;
            z-index: 1;
        }

        &--graph-1 {
            position: absolute;
            top: 2rem;
            left: 2rem;
            z-index: 0;
        }

        &--graph-2 {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
        }
    }
}

.dropdown-menu {
    .dropdown-item {
        padding: 0.325rem 1rem;
    }
}

.section {
    &__product {
        svg {
            margin: auto;
        }

        .card {
            border: none;
            // background: url(../images/icon-circle-electro.svg) 5.2rem .3rem no-repeat;
            // padding: 2rem 0;
        }
    }

    &__spacing {
        &-3 {
            padding: 3rem;
        }
    }
}

.team {
    &__quotes {
        blockquote {
            margin-right: 4.2rem;
        }
    }
}

.form {
    &-label {
        margin-bottom: 0.2rem;
        font-weight: 700;
        font-size: small;
    }
}

@media (max-width: 575.98px) {
    .quote {
        padding: 0 2rem;
    }

    .carousel-team .row {
        margin-left: 2rem;
    }

    .team {
        &__quotes {
            blockquote {
                margin-right: 2rem;
            }
        }
    }
}

.announcements {
    background: var(--bg-dark);
    max-width: 60rem;
    color: white;

    &__ae-100-logo {
        margin-left: 1.8rem;
    }

    &__link {
        color: #F20017;
    }
}