/* ----------------------------------------------
Inter variable font. Usage:

@supports (font-variation-settings: normal) {
	html { font-family: "Inter var", sans-serif; }
}
---------------------------------------------- */

@font-face {
	font-family: "Inter var";
	font-weight: 100 900;
	font-style: normal;
	src: url(../fonts/inter/Inter-upright-var.woff2) format("woff2");
}

@font-face {
	font-family: "Inter var";
	font-weight: 100 900;
	font-style: italic;
	src: url(../fonts/inter/Inter-italic-var.woff2) format("woff2");
}

/* Structure --------------------------------- */

body#tinymce.wp-editor.content { /* stylelint-disable-line no-duplicate-selectors */
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

@supports ( font-variation-settings: normal ) {

	body#tinymce.wp-editor.content { /* stylelint-disable-line no-duplicate-selectors */
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	}

}










// @import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap'); Readex Pro
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); Inter
// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); Work Sans
// @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');  // Archivo <-- this one I like

// html, body {
//     font-family: 'Archivo', sans-serif; 
// }