@supports ( font-variation-settings: normal ) {
	html, body {
		font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	}
}


@font-face {
	font-family: "Inter";
	font-weight: 200 900;
    font-stretch: 75% 125%;
	font-style: normal;
	src: url(/fonts/InterVariable.woff2) format("woff2");
}

@font-face {
	font-family: "Inter";
    font-weight: 200 900;
    font-stretch: 75% 125%;
	font-style: italic;
	src: url(/fonts/InterVariable-Italic.woff2) format("woff2");
}

html, body {
    font-family: 'Inter', sans-serif;
    font-stretch: 100%;
	font-weight: 500;
    
    p, li {
        font-size:1.1rem;
    }
}
