.container-scroller {
    --space: 1rem;
    --space-md: calc(var(--space) * 2);
    --gap: var(--space-md);
    display: grid;
    column-gap: var(--gap);
    grid-template-columns: 1fr min(1300px, calc(100% - var(--gap) * 2)) 1fr;
    margin-inline: auto;

    & > * {
        grid-column: 2;
    }

    & > * + * {
        margin-block-start: var(--space);
    }

    .content {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: inherit;
        padding-block: 20px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .wrap {
        grid-column: 2;
        display: flex;
        gap: var(--space);
    }

    .item {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: center;
        inline-size: 100%;
        max-inline-size: 400px;
        aspect-ratio: 16 / 9;
        font-size: 2rem;
        background: hotpink;
        border-radius: 4px;
    }

    .card {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        scroll-snap-align: center;
        inline-size: 100%;
        max-inline-size: 400px;
        max-width: 100%;
    }
}