.navbar {
    padding-top:1.5rem;
    padding-bottom:1.5rem;

    .navbar-nav {
        margin: auto;
    }

    .nav-link {
        font-weight: bold;
    }

    .nav-item {
        margin-left:.5rem;
        margin-right:.5rem;
    }

    a {
        font-size: 1rem;
        color: #000;
        &:hover {
            opacity:.8;
        }
    }

    .navbar__feature {
        border: 1px solid #000;
        color: #000;
        border-radius:4px;
        padding-top: 0.45rem;
        padding-bottom: 0.45rem;
    }

    .navbar-toggler {
        border: 1px solid #000;

        &-icon {
            svg {
                fill: #000;
            }
        }
    }
}


@media (min-width: 992px) {  
    .navbar .nav-item .dropdown-menu {  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link { color: #000;  }
    .navbar .nav-item:hover .dropdown-menu { transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
    .navbar .nav-item {
        margin-left:.2rem;
        margin-right:.2rem;
    }
}

@media (max-width:992px) {
    .navbar-collapse {
        padding-top:1rem;
    }

    .navbar .nav-item {
        margin-left: 0;
        margin-right: 0;
    }
}