.body {
    &-pricing-and-trading {
        .header__common {
            background: #F6F8FE url(../images/abstract-background_pricing-trading.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            background-size: cover;
            color: white;

            .text-tag {
                color: var(--green);
                border-color:var(--green);
            }
        }
    }

    &-maintenance-and-lease-management {
        .header__common {
            background: #F6F8FE url(../images/abstract-background_maintenance.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            background-size: cover;
            color: white;
        }
        .text-tag {
            color: var(--green);
            border-color:var(--green);
        }
    }

    &-commercial-asset-management {
        .header__common {
            background: #F6F8FE url(../images/abstract-background_commercial.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            background-size: cover;
            color: white;
        }
        .text-tag {
            color: var(--green);
            border-color:var(--green);
        }
    }

    &-risk-management {
        .header__common {
            background: #F6F8FE url(../images/abstract-background_risk.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            background-size: cover;
            color: white;
        }
        .text-tag {
            color: var(--green);
            border-color:var(--green);
        }
    }

    &-fleet-monitoring-system {
        .header__common {
            background: #F6F8FE url(../images/abstract-background_fleet.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            background-size: cover;
            color: white;
        }
        .text-tag {
            color: var(--green);
            border-color:var(--green);
        }
    }

    &-consulting-and-integrations {
        .header__common {
            background: #F6F8FE url(../images/abstract-background_consulting.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            background-size: cover;
            color: white;
        }
        .text-tag {
            color: var(--green);
            border-color:var(--green);
        }
    }


    &-about-us {
        .header__common {
            background: #F6F8FE url(../images/abstract-background-1.jpg) 0 0 no-repeat;
            background-size: cover;
            color: white;
        }
    }

    &-request-demo {
        background: url(../images/card-11.svg) 0 0 no-repeat;
    }
    &-contact-us {
        background: #F3F5FB url(../images/abstract-background-1-contact.jpg) 0 0 no-repeat;
        background-size: 1400px;
        
        .header__common {
            padding:4rem 0 0rem;
            background: none;
        }
        .contact-us__map-card {
            clip-path: border-box;
        }
    }
}

body {
    // background: url(../images/gradient-fade-01.png) 0 -40rem no-repeat, url(../images/gradient-fade-02.png) 100% 0 no-repeat;
    // background-size:150%;
}



.products-page {

}

.solutions-page {
    
}

.airplane {
    &__trail {
        &-1 {
            background:url(../images/plain-trail.svg) 50% 50% no-repeat;
            background-size:2000px;
            height:80px;
        }
        &-2 {
            background:url(../images/plain-trail-02.svg) 50% 50% no-repeat;
            background-size:2000px;
            height:80px;
        }
        &-3 {
            background:url(../images/plain-trail-corner-01.svg) 96% 100% no-repeat;
            background-size:400px;
        }
        &-4 {
            background:url(../images/plain-trail-03.svg) 0 50% no-repeat;
            background-size:500px;
            height:80px;
        }
    }
}