.body {
    &-pricing-and-trading {
        .header__common {
            background: #F6F8FE url(../images/abstract-background_pricing-trading.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            background-size: cover;
            color: white;
            text-align: center;

            .text-tag {
                color: var(--green);
                border-color: var(--green);
            }
        }
    }

    &-maintenance-and-lease-management {
        .header__common {
            background: #F6F8FE url(../images/abstract-background_maintenance.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            background-size: cover;
            color: white;
            text-align: center;
        }

        .text-tag {
            color: var(--green);
            border-color: var(--green);
        }
    }

    &-commercial-asset-management {
        .header__common {
            // background: #F6F8FE url(../images/abstract-background_commercial.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            // background-size: cover;
            // color: white;
            // text-align: center;
        }

        .text-tag {
            color: var(--green);
            border-color: var(--green);
        }
    }

    &-risk-management {
        .header__common {
            // background: #F6F8FE url(../images/abstract-background_risk.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
            // background-size: cover;
            // color: white;
            // text-align: center;
        }

        .text-tag {
            color: var(--green);
            border-color: var(--green);
        }
    }

    // &-fleet-monitoring-system {
    //     .header__common {
    //         background: #F6F8FE url(../images/abstract-background_fleet.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
    //         background-size: cover;
    //         color: white;
    //         text-align: center;
    //     }

    //     .text-tag {
    //         color: var(--green);
    //         border-color: var(--green);
    //     }
    // }

    // &-consulting-and-integrations {
    //     .header__common {
    //         background: #F6F8FE url(../images/abstract-background_consulting.jpg) 0 0 no-repeat; // url(../images/product/pricing-trading-illustration.svg)
    //         background-size: cover;
    //         color: white;
    //         text-align: center;
    //     }

    //     .text-tag {
    //         color: var(--green);
    //         border-color: var(--green);
    //     }
    // }


    &-about-us {
        .header__common {
            // background: #F6F8FE url(../images/abstract-background-1.jpg) 0 0 no-repeat;
            // background-size: cover;
            // color: white;
            // text-align: center;
        }

        .text-tag {
            color: var(--green);
            border-color: var(--green);
        }
    }

    &-pricing {
        .header__common {
            // background: #F6F8FE url(../images/abstract-background-1.jpg) 0 0 no-repeat;
            // background-size: cover;
            // color: white;
            text-align: center;
        }

        .text-tag {
            color: var(--green);
            border-color: var(--green);
        }
    }

    &-lessors {
        .header__common {
            // background: var(--bg-dark-blue) url(../images/lessors-illustration.svg) 100% -30rem no-repeat;
            // background-size: 1400px;
            // color: white;
            // text-align: center;
        }

        .text-tag {
            color: var(--green);
            border-color: var(--green);
        }
    }

    &-investors-and-lenders {
        .header__common {
            background: var(--bg-dark-blue) url(../images/investors-lenders-illustration.svg) 100% -30rem no-repeat;
            background-size: 1000px;
            color: white;
            text-align: center;
        }

        .text-tag {
            color: var(--green);
            border-color: var(--green);
        }
    }

    &-request-demo {
        // ahh... 
    }

    &-contact-us, &-news {
        // background: #F3F5FB url(../images/abstract-background-1-contact.jpg) 0 0 no-repeat;
        // background-size: 1400px;

        .header__common {
            padding: 4rem 0 0rem;
            // background: none;
            text-align: center;
        }

        .contact-us__map-card {
            clip-path: border-box;
        }
    }

    &-news {
        .header__common {
            text-align: center;
        }
    }
}

.airplane {
    &__trail {
        &-1 {
            background: url(../images/plain-trail.svg) 50% 50% no-repeat;
            background-size: 2000px;
            height: 80px;
        }

        &-2 {
            background: url(../images/plain-trail-02.svg) 50% 50% no-repeat;
            background-size: 2000px;
            height: 80px;
        }

        &-3 {
            background: url(../images/plain-trail-corner-01.svg) 96% 100% no-repeat;
            background-size: 400px;
        }

        &-4 {
            background: url(../images/plain-trail-03.svg) 0 50% no-repeat;
            background-size: 500px;
            height: 80px;
        }
    }
}

/************ PRICING PAGE ***********/

.pricing {
    &__levels {

        .card-title {
            text-align: left;
            font-weight: 900;
        }

        .card-body {
            padding: 32px;
        }

        &--card-section {


            text-align: left;

            h6 {
                text-transform: uppercase;
                color: grey;
                padding-top: 20px;
            }
        }
    }

    &__faq-contact {
        padding-top: 4.6rem;
    }

    &__structure {
        li {
            list-style: none;
            padding-left:3rem;
        }
    }
}