.body- {
    // background: url(../images/aviation-map.svg) 50% 0 no-repeat, url(../images/gradient-fade-01.png) -90rem -80rem no-repeat;
    // background-size: 2100px, 4000px;
}

main {
    margin-bottom: -3rem;
}

h2 {
    line-height: 1.4;
}

hr {
    background-color: #b3b3b3;
}

.tags-list {
    padding-left: 0;

    li {
        display: inline-block;
    }
}

.post {
    &__container {
        max-width: 800px;

        blockquote {
            padding: 2rem 2rem 1rem;
            border-left: 4px solid black;
            margin-left: -2rem;

            &.callout {
                border-radius: 4px;
                border: 0;
                font-weight: var(--bs-body-font-size);

                &__info {
                    background: rgb(240, 240, 240);

                    p {
                        font-size: var(--bs-body-font-size);
                        font-weight: normal;
                    }

                    .airfinance-logo {
                        margin: 0 auto;
                        display: block;
                        max-width: 500px;
                    }
                }
            }

            p {
                font-size: 1.58rem;
                font-style: italic;
                font-weight: bold;
                line-height: 1.4;
                color: black
            }

            cite {
                font-size: 1.1rem;
                color: #000;
            }
        }
    }
}

.posts-list {
    h4 a {
        color: black;
        font-weight: bold;
    }

    .card {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .card-footer {
        border: 0;
        background-color: transparent;
        padding-bottom: 1rem;
    }
}

.article-image {
    img {
        width: 100%;
        object-fit: contain;
    }
}

.header {
    &__blog-post {}
}

.footer {

    &__main {
        background: var(--bg-dark-blue);
        color: white;

        h6 {
            text-transform: uppercase;
        }

        p,
        a {
            font-size: 1rem;
        }

        p {
            color: white;
        }

        a {
            color: white;

            &:hover {
                color: #BACDF1;
            }
        }
    }

    &__brand {
        margin-top: -.5rem;
    }

    &__brand-leading {
        padding-right: 2rem;
    }

    &__copyright {
        border-top: 1px solid rgba(255, 255, 255, .1);

        &--policy-links a {
            text-decoration: none;
        }

        svg {
            fill: white;
        }
    }
}

.tags-list {
    a {
        color: white;
    }
}

// Quote slider

.quote {
    padding: 0 6rem;
    margin: auto;
}

.carousel-indicators {
    margin-bottom: -3rem;
}

.carousel-control-next,
.carousel-control-prev {
    width: 4%;
}

.posts-list {
    a {
        text-decoration: none;
    }
}

.accordion-button:not(.collapsed) {
    background: none;
}

.display-7 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
}

.text-white {
    .display-7 {
        color: white;
    }
}

.text-tag {
    text-transform: uppercase;
    font-size: .8rem;
    border: 1px solid var(--blue);
    color: var(--blue);
    display: inline-block;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    font-weight: bold;
}

.bg {
    &-light {
        background-color: var(--bg-grey) !important;
    }

    &-dark {
        background-color: var(--bg-dark) !important;
    }

    &-light-green {
        background-color: var(--bg-light-green);
    }

    &-light-blue {
        background-color: var(--bg-light-blue);
    }

    &-green {
        background-color: var(--green);
    }

    &-blue {
        background-color: var(--blue);
    }

    &-dark-blue {
        background-color: var(--bg-dark-blue);
    }

    &-turquoise {
        background-color: var(--bg-turquoise);
    }
}

.brand-color {
    color: var(--blue);
}


input,
select,
textarea {
    border-color: 1px solid black !important;
}

.request-demo-mt {
    padding-top: 5rem;
}


@media (max-width:992px) {
    .footer__products {
        width: 100%;
    }
}

@media (max-width:900px) {
    .post {
        &__container {
            blockquote {
                &.callout {
                    margin-left: 0;
                }
            }
        }
    }
}