@use "reset";
@use "bootstrap";
@use "colors";
@use "utilities";
@use "fonts";
@use "theme";
@use "components";
@use "navigation";
@use "privacy-message";
@use "pages";


/* Featurettes
------------------------- */
b {
  background: #2B5DC1;
background: -webkit-linear-gradient(to bottom right, #2B5DC1 0%, #233F74 100%);
background: -moz-linear-gradient(to bottom right, #2B5DC1 0%, #233F74 100%);
background: linear-gradient(to bottom right, #2B5DC1 0%, #233F74 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.featurette {
  align-items: center;
}

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

.feature {
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
}