<article class="py-5" style="margin-top:-46px">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-md-3 mb-5 mb-md-0">
                <h2 class="h1 mb-3">Upcoming events</h2>
            </div>
            <div class="col-12 col-md-8 mb-5 mb-md-0">
                <div class="card rounded-6 h-100">
                    <div class="card-header pt-3 pb-0 border-bottom">
                        <h3 class="display-1 text-danger lh-100">9 - 11<span class="font-weight-normal h5">/ May /
                                2022</span></h3>
                    </div>
                    <div class="card-body pb-2">
                        <img class="mb-3 rounded-6" src="/images/news/ae-growth-frontiers-2022.png"
                            alt="Airline Economics Growth Frontiers logo" width="450" />
                        <h4 class="h4 fw-bold">Airline Economics Growth Frontiers Dublin 2022</h4>
                        <div class="small">Location</div>
                        <div class="small">The RDS, Intercontinental & Clayton Hotels Dublin, Ireland</div>
                        <p class="text-dark mt-3 mb-4">We will be attending the upcoming Airline Economics Conference
                            – Growth Frontiers Dublin taking place at the RDS, Intercontinental & Clayton Hotels. Get in
                            touch with
                            our team to schedule a meeting</p>
                        <a class="btn btn-primary mb-2" href="mailto:nancy.derby@aerlytix.com">Get in touch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>