<article class="py-5" style="margin-top:-46px">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-md-4 mb-5 mb-md-0">
                <h2 class="h1 mb-3">Upcoming events</h2>
            </div>
            <div class="col-12 col-md-8 mb-5 mb-md-0">
                <div class="card rounded-6 h-100">
                    <div class="card-header pt-3 pb-0 border-bottom">
                        <h3 class="display-1 text-danger lh-100">13 - 14<span class="font-weight-normal h5">/ September /
                                2022</span></h3>
                    </div>
                    <div class="card-body pb-2">
                        <img class="mb-3 rounded-6" src="/images/news/ae-growth-frontiers.png"
                            alt="Airline Economics Growth Frontiers logo" style="max-width: 400px;" />
                        <h4 class="h4 fw-bold mb-3">Leonardo Royal St Pauls Hotel</h4>
                        <div><strong>Location</strong></div>
                        <div><strong>London, United Kingdom</strong></div>
                        <p class="text-dark mt-3 mb-3">We will be attending the upcoming Airline Economics Growth
                            Frontiers Europe in London. Get in touch with our team to schedule a meeting to
                            learn more about Aerlytix.</p>
                        <p>For enquiries contact us at <a class="" href="mailto:commercial@aerlytix.com">commercial@aerlytix.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>