{% if peopleItems %}
<div class="people">
  <ol class="auto-grid">
    {% for item in peopleItems %}
    <li>
      <figure class="" data-frame="quaternary">
        <img class="" src="{{ item.data.image }}" alt="Image of {{ item.data.name }}" draggable="false" />
        <figcaption class="">
          <span class="">{{ item.data.name }}</span>
          <span class="person__title">{{ item.data.title }}</span>
        </figcaption>
      </figure>
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}