<div class="container" id="post-list">
  <div class="">
    {% if postListHeadline %}
    <h1 class="" data-highlight="primary">
      {{ postListHeadline }}
    </h1>
    {% endif %}
    {# <div>
      <ol class="">
        {% for item in postListItems %}
        <li class="">
          <a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a> <span>{{ item.date | dateFilter
            }}</span>
          <p>{{ item.data.intro }}</p>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div> #}
</div>

<div class="album py-5">
  {# <div class="container"> #}

    <div class="posts-list row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

      {% for item in postListItems %}
      <div class="col">
        <div class="card rounded-6 h-100">
          <img class="card-image" src="/images/news/{{ item.data.articleImg }}" alt="" role="img" />
          <div class="card-body">
            <h4><a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a></h4>
            <p class="card-text">{{ item.data.intro }}</p>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a href="{{ item.url }}" class="btn btn-sm btn-outline-secondary">Read more</a>
              </div>
              <small class="text-muted">{{ item.date | dateFilter }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}



    </div>
    {#
  </div> #}
</div>