<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9N2BPHEET"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-T9N2BPHEET');
</script> -->

<!-- Remove previous Google Analytics -->
 <script type="text/javascript">
   document.cookie.split(';').forEach(cookie => {
       const eqPos = cookie.indexOf('=');
       const name = eqPos > -1 ? cookie.substring(0, eqPos) : cookie;
       document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT';
   });
 </script>

<!-- Tracking code -->
<script type="text/javascript" src=https://secure.7-companycompany.com/js/796522.js></script>
<noscript><img src=https://secure.7-companycompany.com/796522.png style="display:none;" /></noscript>