<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9N2BPHEET"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-T9N2BPHEET');
</script> -->

<!-- Remove previous Google Analytics -->
 <script type="text/javascript">
    var cookies = document.cookie.split("; ");
    console.log({cookies})
    for (var c = 0; c < cookies.length; c++) {
        var d = window.location.hostname.split(".");
        while (d.length > 0) {
            var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
            var p = location.pathname.split('/');
            console.log({d, cookieBase, p})
            // document.cookie = cookieBase + '/';
            // while (p.length > 0) {
            //     document.cookie = cookieBase + p.join('/');
            //     p.pop();
            // };
            d.shift();
        }
    }
 </script>

<!-- Tracking code -->
<script type="text/javascript" src=https://secure.7-companycompany.com/js/796522.js></script>
<noscript><img src=https://secure.7-companycompany.com/796522.png style="display:none;" /></noscript>