<!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-T9N2BPHEET"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-T9N2BPHEET');
</script> -->

<!-- Remove previous Google Analytics -->
 <script type="text/javascript">
    var cookies = document.cookie.split("; ");
    console.log({cookies})
    const {hostname} = window.location;
    for (var i = 0; i < cookies.length; i++) {
        var cookieBase = encodeURIComponent(cookies[i].split(";")[0].split("=")[0])
        var cookie = `${cookieBase}=; expires=${new Date().toUTCString()}; domain=${hostname}; path=`;
        var path = location.pathname.split('/');
        console.log("Setting cookie: " + cookie);
        document.cookie = cookie + '/';
        while (path.length > 0) {
            var cookieWithPath = cookie + path.join('/');
            console.log("Setting cookie: " + cookieWithPath);
            document.cookie = cookieWithPath
            path.pop();
        };
    }
 </script>

<!-- Tracking code -->
<script type="text/javascript" src=https://secure.7-companycompany.com/js/796522.js></script>
<noscript><img src=https://secure.7-companycompany.com/796522.png style="display:none;" /></noscript>